.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;

}
.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 5px;
    border-radius: 5px;
    color: #111;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

@media screen and (max-width: 400px) {
    .checkoutProduct {
        flex-direction: column;
        align-items: center;

    }
    
    
    
  }