.home {
    background: #EAEDED;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0!important;
}
.carousel {
  max-width: 1500px;
    margin: 0 auto;
    min-width: 100%;
}

.home__row {
    display: flex;
    z-index: 10000;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0!important;
}

.carousel-item {
  max-height: 230px;
}
.carousel-inner {
  overflow: visible;
}
.carousel-indicators {
  display: none;
}

@media screen and (max-width: 950px) {
  
  /* .row__container {
    margin-top:-54px ;
  }
   */
}
@media screen and (max-width: 650px) {
  .home__row {
    flex-wrap: wrap;
    margin: 0;
  }
  .carousel-item {
    max-height: 155px;
  }
  /* .row__container {
    margin-top:-31px ;
  } */
  
}
@media screen and (max-width: 560px) {
  .carousel-item {
    max-height: 80px;
  }

}